#index {
	
}

#register {
	
}

#signIn {
	
}

#domains {
	
}

#account {
	
}

#about {
	
}

#contactUs {
	
}

#termsAndConditions {
	
}

#privacyPolicy {
	
}

#mails {
	
}

#verification {
	
}

#validate {
	
}

.wrapper {
	width: 500px;
	margin: 0 auto;
}

#domains td.button {
	width: 80px;
}

#mails td.button {
	width: 80px;
}

@media only screen and (max-width: 500px) {
	.wrapper {
		width: 100%;
	}
	#domains td.button {
		width: 70px;
	}
	#mails td.button {
		width: 70px;
	}
}