<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>indexValidate</servlet-name>
		<jsp-file>/index.validate.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexValidate</servlet-name>
		<url-pattern>/validate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexValidatePassword</servlet-name>
		<jsp-file>/index.validate.password.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexValidatePassword</servlet-name>
		<url-pattern>/resetPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexVerification</servlet-name>
		<jsp-file>/index.verification.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexVerification</servlet-name>
		<url-pattern>/verification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexAccount</servlet-name>
		<jsp-file>/index.account.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexAccount</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexModifyPassword</servlet-name>
		<jsp-file>/index.modify.password.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexModifyPassword</servlet-name>
		<url-pattern>/accountPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexModifyEmail</servlet-name>
		<jsp-file>/index.modify.email.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexModifyEmail</servlet-name>
		<url-pattern>/accountEmail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexValidateEmail</servlet-name>
		<jsp-file>/index.validate.email.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexValidateEmail</servlet-name>
		<url-pattern>/validateEmailChange</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexDomains</servlet-name>
		<jsp-file>/index.domains.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexDomains</servlet-name>
		<url-pattern>/domains</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexMails</servlet-name>
		<jsp-file>/index.mails.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexMails</servlet-name>
		<url-pattern>/mails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexSignIn</servlet-name>
		<jsp-file>/index.signin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexSignIn</servlet-name>
		<url-pattern>/signIn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexResetPassword</servlet-name>
		<jsp-file>/index.password.reset.request.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexResetPassword</servlet-name>
		<url-pattern>/resetPasswordRequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexRegister</servlet-name>
		<jsp-file>/index.register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexRegister</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexAbout</servlet-name>
		<jsp-file>/index.about.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexAbout</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexContactUs</servlet-name>
		<jsp-file>/index.contactUs.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexContactUs</servlet-name>
		<url-pattern>/contactUs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexTermsAndConditions</servlet-name>
		<jsp-file>/index.terms.and.conditions.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexTermsAndConditions</servlet-name>
		<url-pattern>/termsAndConditions</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>indexPrivacyPolicy</servlet-name>
		<jsp-file>/index.privacy.policy.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexPrivacyPolicy</servlet-name>
		<url-pattern>/privacyPolicy</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>accountAbout</servlet-name>
		<jsp-file>/account.about.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accountAbout</servlet-name>
		<url-pattern>/accountAbout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>accountContactUs</servlet-name>
		<jsp-file>/account.contactUs.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accountContactUs</servlet-name>
		<url-pattern>/accountContactUs</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>accountTermsAndConditions</servlet-name>
		<jsp-file>/account.terms.and.conditions.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accountTermsAndConditions</servlet-name>
		<url-pattern>/accountTermsAndConditions</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>accountPrivacyPolicy</servlet-name>
		<jsp-file>/account.privacy.policy.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accountPrivacyPolicy</servlet-name>
		<url-pattern>/accountPrivacyPolicy</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
</web-app>
